<STYLE type="text/css">
<!--

.TableBorderN {border-style : solid ; border-color :grey; border-width: 1px;}

.TableBorderBN {border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;}

.TableBorderRN {border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderLN {border-left-style : solid ; border-left-color :grey; border-left-width: 1px;}

.TableBorderTN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;}

.TableBorderLTN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;}

.TableBorderTRN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderRBN {border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderBLN {border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;}

.TableBorderLRN {border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderRLN {border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderBTN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;}

.TableBorderTBN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;}

.TableBorderLTRN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderTRBN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderRBLN {border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderBLTN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;}

.TableBorderLTRBN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :"#375472"; border-bottom-width: 1px;border-left-style : solid ; border-left-color :"#375472"; border-left-width: 1px;border-right-style : solid ; border-right-color :"#375472"; border-right-width: 1px;}

.TableBorderTRBLN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderRBLTN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderBLTRN {border-top-style : solid ; border-top-color :grey; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :grey; border-bottom-width: 1px;border-left-style : solid ; border-left-color :grey; border-left-width: 1px;border-right-style : solid ; border-right-color :grey; border-right-width: 1px;}

.TableBorderH {border-top-style : solid ; border-top-color :#CCCCCC; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :#CCCCCC; border-bottom-width: 1px;border-left-style : solid ; border-left-color :#CCCCCC; border-left-width: 1px;border-right-style : solid ; border-right-color :#AEBAC6; border-right-width: 1px;}

.TableBorder {border-top-style : solid ; border-top-color :#F7F7F7; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :#F7F7F7; border-bottom-width: 1px;border-left-style : solid ; border-left-color :#F7F7F7; border-left-width: 1px;border-right-style : solid ; border-right-color :white; border-right-width: 1px;}

.TableBorder2{border-top-style : solid ; border-top-color :#F7F7F7; border-top-width: 1px;border-bottom-style : solid ; border-bottom-color :#F7F7F7; border-bottom-width: 1px;border-left-style : solid ; border-left-color :#F7F7F7; border-left-width: 1px;border-right-style : solid ; border-right-color :#F7F7F7; border-right-width: 1px;}

.TableBorder3{border-right-color:#F5FCF4}

.TableBorder4{border-right-color:#AEBAC6}

-->
</STYLE>